<div class="navbar navbar-expand-sm" id="navbar">
  <div class="container-fluid">
    <div class="flex">
      <%= link_to home_path, class: "navbar-brand" do %>
        <h4 class="header-bold">GardenEase</h4>
      <% end %>
      <div class="separator"></div>
      <h6>Planning planting<h6>
    </div>

    <ul>
      <li id="about">
        <%= link_to about_path do %>
          <p>About</p>
        <% end %>
      </li>

      <li id="bigger-screen">
        <div class="dropdown">
          <button class="dropbtn">Account</button>
          <div class="dropdown-content">
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
                <p class="option btn button-purple">Sign out</p>
              <% end %>
              <%= link_to projects_path do %>
                <p class="option btn button-purple">My projects</p>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <p class="option btn">Sign in</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>

      <li id="small-screen">
        <div class="dropdown">
          <button class="dropbtn">+</button>
          <div class="dropdown-content">
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
                <p class="option btn button-purple">Sign out</p>
              <% end %>
              <%= link_to projects_path do %>
                <p class="option btn button-purple">My projects</p>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <p class="option btn">Sign in</p>
              <% end %>
              <%= link_to about_path do %>
                <p class="option btn button-purple">About</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
