<div class="home-container">
  <div class="home-title">
    <p class="welcome">Welcome to</p>
    <h1 class="main-title">GardenEase</h1>
    <div class="leaf-container">
      <img class="growing" id="growing-a"src="<%= asset_url("growing_plants1a.svg")%>"  alt="growing plants">
      <img class="growing" id="growing-b"src="<%= asset_url("growing_plants1b.svg")%>"  alt="growing plants">
      <img class="growing" id="growing-c"src="<%= asset_url("growing_plants1c.svg")%>"  alt="growing plants">
      <img class="growing" id="growing-d"src="<%= asset_url("growing_plants1d.svg")%>"  alt="growing plants">
      <img class="growing" id="growing-e"src="<%= asset_url("growing_plants1e.svg")%>"  alt="growing plants">
    </div>
  </div>

  <div class="presentation">
    <p class="line">Your guide to a simple, personalised garden.</p>
    <p class="line">No green thumb needed.</p>
  </div>

  <div class="home-flex">
    <a href="/about" class="btn button-green" id="learn-more">Learn more</a>
    <a href="/benefits/new" class="btn button-white" id="start">Get started!</a>
  </div>
</div>
