<% content_for :head do %>
  <meta property="og:title" content="GardenEase">
  <meta property="og:image" content="<%= asset_url(@project.picture)%>">
  <meta property=”og:url” content="<%= project_results_url(@project) %>">
  <meta property=”og:description” content="<%= @project.standfirst %>">
<% end %>

<% @project.description %>
<div id="project">
  <section class="project-title">
    <div class="project-left">
      <div class="top-titles">
        <h3><%= @project.name %></h3>
        <h4><%= @project.standfirst %></h4>

        <div class="flex">
          <p><strong>Difficulty </strong><%= @project.difficulty %>/5</p>
          <div class="separator"></div>
          <p><strong>Duration </strong><%= @project.duration %></p>
        </div>
      </div>

      <div class="fun-fact">
        <div class="text">
          <h5>Fun fact</h5>
          <p><%= @project.fact %></p>
        </div>
      </div>
    </div>
    <div class="project-right">
      <div class="image-container">
        <img src="<%= asset_url(@project.picture)%>" alt="illustration of people gardening">
      </div>
    </div>
  </section>

  <section class="description">
    <div class="container">
      <p><%= @project.description %></p>
    </div>
  </section>

  <section class="share-btns">
    <div id="drop">
      <div class="share-container">
        <button class="share button-green">Share</button>
        <div class="dropdown-content">
          <a href='https://www.facebook.com/sharer.php?u=<%= project_results_url(@project) %>' class="option btn button-purple facebook" target="_blank">Share on Facebook</a>
          <a href="https://web.whatsapp.com/send?text=Look at my gardening project! <%= project_results_url(@project) %>" class="option btn button-purple share-whatsapp" target="_blank">Share on WhatsApp</a>
          <a href="https://www.instagram.com/" class="option btn button-purple share-instagram" target="_blank">Share on Instagram</a>
        </div>
      </div>
    </div>

    <%= link_to project_results_path(@project, format: :pdf) do %>
      <button class="button-green">Download</button>
    <% end %>

    <div id="saved-btn">
      <% if current_user.projects.include?(@project) %>
          <button class="saved">Saved</button>
      <% else %>
        <%= link_to project_my_saved_projects_path do %>
          <button class="button-green">Save</button>
        <% end %>
      <% end %>
    </div>
  </section>

  <section class="project-content">
    <div class="items">
      <h4>Items needed</h4>
      <ul>
        <% @project.items.each do |item| %>
          <li><%= item.capitalize %></li>
        <% end %>
      </ul>
    </div>
    <div class="separator"></div>
    <div class="method">
      <h4>Method</h4>
      <ol>
        <% @project.method.each do |step| %>
          <li><%= step.capitalize %></li>
        <% end %>
      </ol>
    </div>
  </section>

  <div class="separator"></div>


</div>
