<% @project.description %>
<div id="project">
  <section class="project-title">
    <div class="project-left">
      <div class="top-titles">
        <h3><%= @project.name %></h3>
        <h4><%= @project.standfirst %></h4>

        <div class="flex">
          <p><strong>Difficulty </strong><%= @project.difficulty %>/5</p>
          <div class="separator"></div>
          <p><strong>Duration </strong><%= @project.duration %></p>
        </div>
      </div>

      <div class="fun-fact">
        <div class="text">
          <h5>Fun fact</h5>
          <p><%= @project.fact %></p>
        </div>
      </div>
    </div>
    <div class="project-right">
      <div class="image-container">
        <img src="<%= asset_url(@project.picture)%>" alt="illustration of people gardening">
      </div>
    </div>
  </section>

  <section class="description">
    <div class="container">
      <p><%= @project.description %></p>
    </div>
  </section>


<section class="project-content">
  <div class="items">
    <div class="items-list">
      <h4>Items needed</h4>
      <ul>
        <% @project.items.each do |item| %>
          <li><%= item.capitalize %></li>
        <% end %>
      </ul>
    </div>

    <section class="map">
    <h4 class= "map-title">Nearest florists in <%= @project.location.capitalize%>:</h4>
    <div style="height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </section>
  </div>

  <div class="separator"></div>

  <div class="method">
    <h4>Method</h4>
    <ol>
      <% @project.method.each do |step| %>
        <li><%= step.capitalize %></li>
      <% end %>
    </ol>
  </div>
</section>

  <div id="saved-btn">
    <% unless current_user.projects.include?(@project) %>
      <%= link_to "Save in my projects", project_my_saved_projects_path, class: "button-purple selected-btn" %>
    <% end %>
  </div>
  <button id="button-pdf" onclick="downloadPDF()">Download</button>

  <div class="progresses">
    <h4>My progress</h4>
    <ul class="projects-ul">
      <% @project.progresses.each do |progress| %>
        <li class="projects-li">
          <div class="image-container">
            <img class="progress-photo" src="<%= url_for(progress.photo) %>" alt="Progress photo">
          </div>
          <h5 class="progress-date"><%= progress.created_at.strftime(' %e %B %y - %l:%M') %></h5>
          <p><%= progress.description %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="separator"></div>

  <%= link_to('Download', project_results_path(@project, format: :pdf))  %>
</div>
