<% simple_format @project.description %>

<section class="project-title">
  <div class="project-left">
    <h3><%= @project.name %></h3>
    <h4><%= @project.standfirst %></h4>
    <p><strong>Difficulty: </strong><%= @project.difficulty %>/5 <strong>Duration: </strong><%= @project.duration %></p>
  </div>
  <div class="project-right">
    <img src="<%= asset_url("1.freshfood.jpg")%>" alt="illustration of people gardening">
  </div>
</section>

<section class="project-content">
  <h4>Description</h4>
  <p><%= @project.description %></p>
  <h4>Items needed</h4>
  <p><%= @project.items %></p>
  <h4>Method</h4>
  <p><%= @project.method %></p>
  <h4>Fun fact</h4>
  <p><%= @project.fact %></p>

  <div id="saved-btn"  >
    <% unless current_user.projects.include?(@project) %>
     <%= link_to "Save in my projects", project_my_saved_projects_path %>
    <% end %>
  </div>
</section>
