<section class="selected-title" id="location-title">
  <h3>Tell us where you're growing!</h3>
  <p>In order to tailor to your climate conditions</p>
</section>

<div class="sidebar">
    <p class="two"></p>&#9675;<br>
    <p class="three"></p>&#9675;<br>
    <p class="one"></p>&#9679;<br>
</div>

<section class="selected-form"  id="location-form" data-controller="popup">
  <%= form_with url: project_location_path(@project), method: :post, class: "location-form" do %>
    <%= hidden_field_tag :project_id, @project_id %>
    <%= text_field_tag :location, nil, placeholder: "Your location...", id: "city" %><br>
    <%= submit_tag "Submit", class: "btn button-purple popup", data: { action: "click->popup#loading" } %>
  <% end %>
</section>

<div class="flex-popup hidden" data-controller="popup" data-popup-target="popupMessage">
  <h3>One moment... <br> We're working on your project!</h3>
  <div class="img-container">
    <span class="mypopup loader"></span>
    <img class="tree" src="<%= asset_url("tree.png")%>" alt="tree">
  </div>
</div>
